* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto 100px;
    margin-bottom: 20px;
    background-color: rgb(226, 230, 236);
}

h2 {
    margin-bottom: 0;
}

.contenedor {
    display: block;
    margin: 5px 0;
}

.separador {
    margin-top: 60px;
}

.top {
    text-align: center;
}

.info_header {
    margin-bottom: 0px;
}

.info_description {
    margin-top: 0px;
}

.top_nav {
    margin-top: 20px;
}

form {
    margin-right: 500px;
}

#txtarea{
    resize: none;
    width: 20rem;
}

#sendBtn {
    margin-top: 7px;
}

footer {
    text-align: center;
    margin-top: 40px;
}